// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#grad-home {
 
 background: image-url("Krow_cover.jpg") no-repeat -20px -40px;
 background-color: rgba(0,0,0,0.6);
 background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
  height: 100%;
  border-top: 2px solid #fff;
  text-align: center;
}

#home-text{
	position: relative;
	top: 60px;

}

#home-text a{
	position: relative;
	top: 260px;
	color: #fff;

}
#grad-home h1, #grad-home h4{
	color: #fff;
}

#home-text a{
	border: 1px solid white;
}

#home-text span{
	color: rgba(255,255,255,0);
}
